@using HrMaxxWeb.Code.Helpers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@if (IsSectionDefined("Styles"))
	{
		@RenderSection("Styles", false)
	}
	@Styles.Render("~/bundles/site-less")


	<!--[if lt IE 9]>
		@Scripts.Render("~/bundles/html5")
	<![endif]-->
	@*@Styles.Render("~/bundles/site-less")*@
	@Scripts.Render("~/bundles/bootstrapjquery")

	@Scripts.Render("~/bundles/angular")




</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>

	<!-- end #page-loader -->
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		
		<!-- begin #content -->
		<div id="content" class="content">
			@RenderBody()
		</div>
		<!-- end #content -->
	</div>


	<!-- Footer -->
	<div id="footer" class="footer">
		@Html.Partial("_Footer")
	</div>
	
	<!-- /#page-wrapper -->
	<!-- ========================= SCRIPTS ================================ -->
	@Scripts.Render("~/bundles/angular")
	@Scripts.Render("~/bundles/slimScroll")

	@RenderSection("scripts", false)
	<script>
		$(document).ready(function() {
			App.init();

		});
	</script>


</body>
</html>
