@using HrMaxxWeb.Code.Helpers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
  @if (IsSectionDefined("Styles"))
	{
		@RenderSection("Styles", false)
	}
	@Styles.Render("~/bundles/site-less")

	
	<!--[if lt IE 9]>
		@Scripts.Render("~/bundles/html5")
	<![endif]-->
	@*@Styles.Render("~/bundles/site-less")*@
	@Scripts.Render("~/bundles/bootstrapjquery")

	@Scripts.Render("~/bundles/angular")
	<link rel="stylesheet" type="text/css" media="print" href="~/Content/print.css" />
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	
	
	<!-- end #page-loader -->
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed" ng-app="common">
		<!-- begin #header -->
		@Html.Partial("_TopNavbar") 
		<!-- end #header -->
		<!-- begin #sidebar -->
		@if (User.Identity.IsAuthenticated)
		{
			@Html.Partial("_Navigation")
		}
		
		<!-- end #sidebar -->
		<!-- begin #content -->
		<div id="content" class="content" ng-controller="mainCtrl" data-host="@CurrentUser.Host" data-company="@CurrentUser.Company" data-role="@CurrentUser.Role">
			<div id="page-loader1" class="fade in" ng-if="loading"><span class="spinner"></span></div>
			<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
			<div class="panel panel-inverse  hidden-print" ng-show="data.showFilterPanel" ng-if="data.isReady">
				<div class="panel-body">
					<div class="row form-group">
						<div class="col-sm-4">
							<select id="host" class="form-control" ng-change="hostSelected()" ng-disabled="data.hosts.length===1" ng-model="data.selectedHost" ng-options="host1.firmName for host1 in data.hosts track by host1.id">
								<option value="">Select Host</option>
							</select>
						</div>
						<div class="col-sm-4">
							<input type="text" placeholder="Type Company Name" ng-disabled="data.companies.length===0" ng-model="data.selectedCompany1" ng-mouseenter="data.selectedCompany1=null" ng-mouseleave="data.selectedCompany1=data.selectedCompany" typeahead-show-hint="true" typeahead-on-select="companySelected($item, $model, $label, $event)" uib-typeahead="company as company.name for company in data.companies | filter:{name:$viewValue}" class="form-control">
						</div>
						<div class="col-sm-4" ng-show="data.selectedCompany && data.selectedCompany.id"><h5 class="pull-right"><em>You are viewing company: {{data.selectedCompany.name}}</em></h5></div>

					</div>
				</div>
			</div>

			<div class="row  hidden-print">
				<div ng-repeat="alert in alerts" class="alert" ng-class="{'alert-success':alert.type==='success', 'alert-danger':alert.type==='danger'}">
					{{alert.msg}}
				</div>
			</div>
			<div ng-view></div>
			@RenderBody()
		</div>
		
	</div>
		

	<div class="modal fade" id="modal-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					               
				</div>
				<div class="modal-body">
					@if (!Request.IsAuthenticated)
					{
						@Html.Partial("_LogiPartialModal")
					}
				</div>

			</div>
		</div>
	</div>
			<!-- /#page-wrapper -->
			<!-- ========================= SCRIPTS ================================ -->
			@Scripts.Render("~/bundles/slimScroll")
		
			@RenderSection("scripts", false)
	<script>
		$(document).ready(function() {
			App.init();
			angular.bootstrap(document.getElementById('loginpartialmodal'), ['common']);
			var min = $('a[data-click=sidebar-minify]:first');
			min.click();
		});
	</script>

		
</body>
</html>
