@using HrMaxxWeb.Code.Helpers
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
  @if (IsSectionDefined("Styles"))
	{
		@RenderSection("Styles", false)
	}
	@Styles.Render("~/bundles/site-less")
	
	
	<!--[if lt IE 9]>
		@Scripts.Render("~/bundles/html5")
	<![endif]-->
	@*@Styles.Render("~/bundles/site-less")*@
	@Scripts.Render("~/bundles/bootstrapjquery")

	@Scripts.Render("~/bundles/angular")
	<link rel="shortcut icon" href="~/Content/images/icon.png">
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	
	
	<!-- end #page-loader -->
	<!-- begin #page-container -->

	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed" ng-app="common">
		@if (User.Identity.IsAuthenticated)
		{
			<!-- begin #header -->
			@Html.Partial("_TopNavbar")
			<!-- end #header -->
			<!-- begin #sidebar -->

			@Html.Partial("_Navigation")

		}
		<!-- end #sidebar -->
		<!-- begin #content -->
		<div id="content" class="content" ng-controller="mainCtrl" data-host="@CurrentUser.Host" data-company="@CurrentUser.Company" data-role="@CurrentUser.Role" data-name="@CurrentUser.FullName">
			<div id="page-loader1" class="fade in" ng-if="loading"><span class="spinner"></span></div>
			<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
			<script type="text/ng-template" id="popover/messages.html">

				<div class="modal-body" style="padding:0px">
					<div ng-repeat="alert in alerts" class="alert alert-{{alert.type}}" style="margin-bottom:0px">
						<button type="button" class="close" data-ng-click="cancel()">
							<span class="glyphicon glyphicon-remove-circle"></span>
						</button>
						<i class="fa fa-check text-succcess fa-lg" ng-if="alert.type==='success'"></i>
						<i class="fa fa-exclamation-triangle text-danger fa-lg" ng-if="alert.type==='danger'"></i>
						<i class="fa fa-exclamation-triangle text-warning fa-lg" ng-if="alert.type==='warning'"></i>
						<i class="fa fa-info-circle text-info fa-lg" ng-if="alert.type==='info'"></i>{{alert.msg}}
					</div>
				</div>
				
			</script>
			<script type="text/ng-template" id="popover/memento.html">

				<div class="modal-header">
					<h2 class="modal-title">Version #{{memento.version}} Details</h2>
				</div>
				<div class="modal-body">
					
						<div class="row" ng-if="sourceTypeId===2">
							<company company="memento.object" main-data="mainData" is-popup="true" show-controls="false" />
						</div>
						<div class="row" ng-if="sourceTypeId===3">
							<employee employee="memento.object" main-data="mainData" is-popup="false" show-controls="false" />
						</div>
						<div class="row" ng-if="sourceTypeId===1">

						</div>
						<div class="row" ng-if="sourceTypeId===8">
							<regular-check item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />							
						</div>
						<div class="row" ng-if="sourceTypeId===10">
							<deposit-ticket item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />							
						</div>
						<div class="row" ng-if="sourceTypeId===18">
							<account-adjustment item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />							
						</div>
						<div class="row" ng-if="sourceTypeId===19">
							<tax-payment item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />							
						</div>
						<div class="row" ng-if="sourceTypeId===7">
							<paycheck check="memento.object" />
						</div>
					
				</div>
			</script>
			<script type="text/ng-template" id="popover/company.html">

				<div class="modal-header">
					<h2 class="modal-title">{{company.name}} Details</h2>
					<button type="btn btn-sm pull-right" class="close" ng-click="cancel()">
						<span class="glyphicon glyphicon-remove-circle"></span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<company company="company" main-data="mainData" is-popup="true" show-controls="true" />
					</div>
				</div>
			</script>
			<script type="text/ng-template" id="popover/confirm.html">
				<div class="modal-header">
					
				</div>
				<div class="modal-body" >
					<div class="alert alert-{{type}}">
						{{message}}<i class="fa fa-lg fa-question-circle text-info"></i>
					</div>					
				</div>
				<div class="modal-footer text-center">
					<div class="row">
						<button type="button" class="btn btn-sm btn-primary pull-center" data-ng-click="ok()">
							<span class="glyphicon glyphicon-check"></span> Yes
						</button>
						<button type="button" class="btn btn-sm btn-default pull-center" data-ng-click="cancel()">
							<span class="glyphicon glyphicon-remove-circle"></span> No
						</button>
					</div>
					<div class="row alert alert-warning" ng-if="type==='danger'">
						All activities are logged in the system.
					</div>
				</div>

			</script>
@if (User.Identity.IsAuthenticated)
{
	<div class="panel panel-inverse  hidden-print" ng-show="data.showFilterPanel" ng-if="data.isReady">
		<div class="panel-body">
			<div class="row form-group">
				<div class="col-sm-4">
					<select id="host" class="form-control" ng-change="hostSelected()" ng-disabled="data.hosts.length===1" ng-model="data.selectedHost" ng-options="host1.firmName for host1 in data.hosts track by host1.id">
						<option value="">Select Host</option>
					</select>
				</div>
				<div class="col-sm-4">
					<input type="text" placeholder="Type Company Name" ng-show="data.showCompanies" ng-disabled="data.companies.length===0" ng-model="data.selectedCompany1" ng-mouseenter="data.selectedCompany1=null" ng-mouseleave="data.selectedCompany1=data.selectedCompany" typeahead-show-hint="true" typeahead-on-select="companySelected($item, $model, $label, $event)" uib-typeahead="company as company.name for company in data.companies | filter:{name:$viewValue}" class="form-control">
				</div>
				<div class="col-sm-4" ng-show="data.selectedCompany && data.selectedCompany.id"><h5 class="pull-right"><em>You are viewing company: {{data.selectedCompany.name}} <span class="show-red" ng-show="data.selectedCompany.isLocation">(is a location)</span></em></h5></div>

			</div>
		</div>
	</div>
	<div ng-view></div>
}
else
{
	if (!Request.IsAuthenticated)
	{
		@Html.Partial("_LogiPartialModal")
	}
}

			@RenderBody()
		</div>
		
	</div>

	<div class="modal fade" id="modal-dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					               
				</div>
				<div class="modal-body">
					@if (!Request.IsAuthenticated)
					{
						@Html.Partial("_LogiPartialModal")
					}
				</div>

			</div>
		</div>
	</div>
			<!-- /#page-wrapper -->
			<!-- ========================= SCRIPTS ================================ -->
			@Scripts.Render("~/bundles/slimScroll")
		
			@RenderSection("scripts", false)
	<script>
		$(document).ready(function() {
			App.init();
			//angular.bootstrap(document.getElementById('loginpartialmodal'), ['common']);
			var min = $('a[data-click=sidebar-minify]:first');
			min.click();
		});
	</script>

		
</body>
</html>
