@using HrMaxxWeb.Code.Helpers
@using Newtonsoft.Json
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <style>

        .embed-container {
            position: relative;
            padding-bottom: 45%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
            min-height: 100%;
        }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>
    <title>@ViewBag.Title</title>
    
    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", false)
    }
    @Styles.Render("~/bundles/site-less")


    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/html5")
    <![endif]-->
    @*@Styles.Render("~/bundles/site-less")*@
    @Scripts.Render("~/bundles/bootstrapjquery")

    @Scripts.Render("~/bundles/angular")
    <link rel="shortcut icon" href="~/Content/images/icon.png">
</head>
<body>
    @*<div id="page-loader" class="fade in"><span class="spinner"></span></div>*@
    <div id="page-loader" class="fade in">
        <span class="spinner"></span>
    </div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    @if (User.Identity.IsAuthenticated)
    {
        <div id="page-container" ng-controller="mainCtrl" class="fade page-sidebar-fixed page-header-fixed page-with-light-sidebar page-content-full-height" ng-app="common" data-host="@CurrentUser.Host" data-company="@CurrentUser.Company" data-employee="@CurrentUser.Employee" data-role="@CurrentUser.Role" data-name="@CurrentUser.FullName" data-claims="@CurrentUser.GetClaimsSerialized()">
            @Html.Partial("_TopNavbar")


            <!-- begin #header -->
            <!-- end #header -->
            <!-- begin #sidebar -->
            @Html.Partial("_Navigation")
            <div id="content" class="content">

                <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['corechart']}]}"></script>
                <script type="text/ng-template" id="popover/messages.html">
                    <div class="modal-header">
                        <h4 class="modal-title" ng-if="alerts[0].type==='danger'">
                            <i class="fa fa-exclamation-triangle" style="color:darkred"></i> Error
                        </h4>
                        <h4 class="modal-title" ng-if="alerts[0].type==='success'">
                            <i class="fa fa-check-circle" style="color:green"></i> Done
                        </h4>
                        <h4 class="modal-title" ng-if="alerts[0].type==='info'">
                            <i class="fa fa-info-circle" style="color:cornflowerblue"></i> Info
                        </h4>
                        <h4 class="modal-title" ng-if="alerts[0].type==='warning'">
                            <i class="fa fa-warning" style="color:orange"></i> Warning
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div ng-repeat="alert in alerts track by $index" class="alert alert-{{alert.type}}  m-b-0">
                            {{alert.msg}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-sm " ng-class="{'btn-danger': alerts[0].type==='danger', 'btn-warning':alerts[0].type==='warning', 'btn-success': alerts[0].type==='success', 'btn-info': alerts[0].type==='info'}" ng-click="cancel()">Close</button>

                    </div>
                </script>
                <script type="text/ng-template" id="popover/bankdetails.html">
                    <div class="modal-header alert alert-info">
                        <h4 class="modal-title">Bank Details for {{model.payingCompanyName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert m-b-0">
                            Account Type: {{model.accountTypeStr}}

                        </div>
                        <div class="alert m-b-0">
                            Account Number: {{model.accountNumberStr}}

                        </div>
                        <div class="alert m-b-0">
                            Routing Number: {{model.routingNumberStr}}

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" ng-click="cancel()">Close</a>

                    </div>

                </script>
                <script type="text/ng-template" id="popover/wcdetails.html">
                    <div class="modal-header alert alert-info">
                        <h4 class="modal-title">Pay Checks Details for {{selectedEmployee.fullName}} with {{selected.companyWorkerCompensation.code + ' - ' + selected.companyWorkerCompensation.description}}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <th>Pay Day</th>
                                <th class="text-right">Employee Wage</th>
                                <th class="text-right">Employer Withheld</th>
                            </tr>

                            <tbody>
                                <tr ng-repeat="pc in employeePayChecks">
                                    <td>{{pc.payDay | date:'MM/dd/yyyy'}}</td>
                                    <td class="text-right">{{pc.employeeWage | currency:'$'}}</td>
                                    <td class="text-right">{{pc.employeeWithheld | currency:'$'}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" ng-click="cancel()">Close</a>

                    </div>

                </script>
                <script type="text/ng-template" id="popover/minwages.html">
                    <div class="modal-header alert alert-inverse">
                        <h4 class="modal-title">{{company.name}} - Min Wage(s) for {{modal[0].year}}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-header table-bordered table-condensed form-controls input-sm">
                            <thead>
                                <tr>
                                    <th class="col-sm-3">Year</th>
                                    <th class="col-sm-3">Min Wage</th>
                                    <th class="col-sm-3">Min Wage</th>
                                    <th class="col-sm-3">Tipped Min Wage</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mw in model">
                                    <td>{{mw.year}}</td>
                                    <td>{{mw.stateText}}</td>
                                    <td>{{mw.minWage | currency:'$'}}</td>
                                    <td>{{mw.tippedMinWage | currency:'$'}}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" ng-click="cancel()">Close</a>

                    </div>

                </script>
                <script type="text/ng-template" id="employee.html">
                    <div class="col-sm-12 text-center">
                        <strong>{{pc.fullName}}</strong>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>SSN:</strong></div>
                        <div class="col-sm-6 text-right">***-**-{{pc.ssnVal.substr(pc.ssnVal.length-4)}}</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>Dept:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.department}}</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>Hired:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.hireDate | date:'MM/dd/yyyy'}}</div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>Pay Type:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.payType===1? 'Hourly' : pc.payType===2? 'Salary' : 'Piece-wise'}}</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>Rate:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.rate | currency:'$'}}</div>
                    </div>

                </script>
                <script type="text/ng-template" id="paytype.html">
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left">
                            <strong>{{pt.payTypeName}}</strong>

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-8 text-left">
                            <i class="fa fa-arrow-right"></i>({{pt.fiscalStart | date:'MM/dd/yyyy'}} - {{pt.fiscalEnd | date:'MM/dd/yyyy'}})
                        </div>
                        <div class="col-sm-4 text-right">{{pt.available}} hrs</div>
                    </div>
                </script>
                <script type="text/ng-template" id="wages.html">
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>Gross Wage:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.payCheckWages.grossWage | currency:'$'}}</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>Salary:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.payCheckWages.salary | currency:'$'}}</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>OT:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.overtime | currency:'$'}}</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left">&nbsp;</div>
                        <div class="col-sm-6 text-right">&nbsp;</div>
                    </div>
                    <div class="col-sm-12" ng-include="'comp.html'" ng-repeat="comp in pc.compensations"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left">&nbsp;</div>
                        <div class="col-sm-6 text-right">&nbsp;</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-left"><strong>Net Wage:</strong></div>
                        <div class="col-sm-6 text-right">{{pc.payCheckWages.netWage | currency:'$'}}</div>
                    </div>
                </script>
                <script type="text/ng-template" id="comp.html">

                    <div class="col-sm-6 text-left"><strong>{{comp.payTypeName}}:</strong></div>
                    <div class="col-sm-6 text-right">{{comp.ytd | currency:'$'}}</div>


                </script>
                <script type="text/ng-template" id="tax.html">

                    <div class="col-sm-4 text-left"><strong>{{tax.tax.code}}:</strong></div>
                    <div class="col-sm-4 text-right">{{tax.ytdWage | currency:'$'}}</div>
                    <div class="col-sm-4 text-right">{{tax.ytd | currency:'$'}}</div>


                </script>
                <script type="text/ng-template" id="ded.html">

                    <div class="col-sm-6 text-left"><strong>{{ded.companyDeduction.deductionType.name}}:</strong></div>
                    <div class="col-sm-3 text-right">{{ded.ytdWage | currency:'$'}}</div>
                    <div class="col-sm-3 text-right">{{ded.ytd | currency:'$'}}</div>


                </script>
                <script type="text/ng-template" id="wcs.html">

                    <div class="col-sm-6 text-left"><strong>{{wc.companyWorkerCompensation.code}} - {{wc.companyWorkerCompensation.description}}:</strong></div>
                    <div class="col-sm-3 text-right">{{wc.ytdWage | currency:'$'}}</div>
                    <div class="col-sm-3 text-right">{{wc.ytd | currency:'$'}}</div>


                </script>

                <script type="text/ng-template" id="popover/memento.html">

                    <div class="modal-header">
                        <h2 class="modal-title">Version #{{memento.version}} Details</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row" ng-if="sourceTypeId===2 && !memento.object">
                            the document cannot be loaded at this time.
                        </div>
                        <div class="row" ng-if="sourceTypeId===2 && memento.object">
                            <company company="memento.object" main-data="mainData" is-popup="true" show-controls="false" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===3">
                            <employee employee="memento.object" main-data="mainData" is-popup="false" show-controls="false" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===1">

                        </div>
                        <div class="row" ng-if="sourceTypeId===8">
                            <regular-check item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===10">
                            <deposit-ticket item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===18">
                            <account-adjustment item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===19">
                            <tax-payment item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===7">
                            <paycheck check="memento.object" main-data="mainData" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===11">
                            <payroll-invoice invoice="memento.object" datasvc="dataSvc" host="mainData.selectedHost" main-data="mainData" show-controls="false" />
                        </div>
                        <div class="row" ng-if="sourceTypeId===23">
                            <vendor-invoice item="memento.object" datasvc="dataSvc" company="mainData.selectedCompany" show-controls="false" />
                        </div>

                    </div>
                </script>
                <script type="text/ng-template" id="popover/company.html">
                    <company company="company" main-data="mainData" is-popup="true" show-controls="true" />


                </script>
                <script type="text/ng-template" id="popover/confirm.html">

                    <div class="modal-body text-center">

                        <blockquote>
                            <p>
                                <h3><i class="fa fa-lg fa-exclamation-circle" style="color:{{getColor()}}" ng-if="type==='warning'"></i><i class="fa fa-info-circle fa-lg" style="color:{{getColor()}}" ng-if="type==='info'"></i><i class="fa fa-exclamation-triangle fa-lg" style="color:{{getColor()}}" ng-if="type==='danger'"></i><i class="fa fa-check-circle fa-lg" style="color:{{getColor()}}" ng-if="type==='success'"></i> Are you sure to proceed ?</h3>
                                <br />
                                {{message}}
                            </p>

                        </blockquote>

                        @*<div class="alert" ng-bind-html="message">

                </div>*@
                    </div>
                    <div class="modal-footer text-center">
                        <a href="javascript:;" class="btn btn-circle" ng-click="ok()" ng-class="getButtonClass()"><i class="fa fa-check fa-lg" /></a>
                        <a href="javascript:;" class="btn btn-white btn-circle" ng-click="cancel()" style="color:{{getColor()}}"><i class="fa fa-times fa-lg" /></a>

                    </div>

                </script>
                <script type="text/ng-template" id="dashboardaccumulation.html">
                    <div class="widget widget-stats" ng-class="{'bg-black': acc.payTypeId===6, 'bg-blue': acc.payTypeId===5, 'bg-grey': acc.payTypeId===16}">
                        <div class="stats-icon"></div>
                        <div class="stats-info">
                            <h4>Available</h4>
                            <p>{{acc.available | currency:''}} hrs</p>
                        </div>
                        <div class="stats-info">
                            <h4>Accumulated : Used</h4>
                            <p>{{acc.ytdFiscal | currency:''}} : {{acc.ytdUsed | currency:''}}</p>
                        </div>
                        <div class="stats-link">
                            <a href="javascript:;" ng-click="scrollToSummary()">{{acc.payTypeName}}</a>
                        </div>

                    </div>


                </script>
                <script type="text/ng-template" id="popover/project.html">
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{ project.id ? project.projectName : 'New Project'}} - {{company.name}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form name="compform" data-parsley-validate="true">
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="projectid">Project ID * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="projectid" name="projectid" placeholder="Project ID" data-parsley-required="true" ng-model="project.projectId" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="name">Project Name * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="name" name="name" placeholder="Project Name" data-parsley-required="true" ng-model="project.projectName" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="award">Awarding Body *:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="award" name="award" data-parsley-required="true" placeholder="Awarding Body" ng-model="project.awardingBody" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="reg">Registration No * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="reg" name="reg" data-parsley-required="true" placeholder="Registration No" ng-model="project.registrationNo" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="lic">License No * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="lic" name="lic" data-parsley-required="true" placeholder="License No" ng-model="project.licenseNo" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="lictype">License Type * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="lictype" name="lictype" data-parsley-required="true" placeholder="License Type" ng-model="project.licenseType" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="wc">WC Policy No * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="wc" name="wc" data-parsley-required="true" placeholder="Workers Compensation Policy Number" ng-model="project.policyNo" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="cl">Classification * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="text" id="cl" name="cl" data-parsley-required="true" placeholder="Classification" ng-model=project.classification />
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-white  pull-right" ng-click="cancel()">close</button>
                                <button type="button" class="btn btn-success   pull-right" ng-click="save()" ng-disabled="!isProjectValid()">save</button>
                            </div>

                        </div>
                    </div>

                </script>
                <script type="text/ng-template" id="popover/newpayroll.html">
                    <div class="panel panel-primary overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                New Payroll
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form name="compform" data-parsley-validate="true">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <div class="form-group">
                                            <label class="control-label">Start Date <span class="text-danger">*</span></label>
                                            <date-ctrl name="startdate" required="true" model="item.startDate" disabled="false" />
                                        </div>
                                        <div class="form-group" ng-show="item.startDate">
                                            <label class="control-label">End Date <span class="text-danger">*</span></label>
                                            <date-ctrl name="enddate" required="true" model="item.endDate" min="item.startDate" />


                                        </div>

                                    </div>
                                    <div class="col-sm-6 form-group">


                                        <div class="form-group">
                                            <label class="control-label">Starting Check Number <span class="text-danger">*</span></label>
                                            <input type="number" ng-model="item.startingCheckNumber" class="form-control input-sm" required data-parsley-pattern="/^[1-9][0-9]{2,9}$/" data-parsley-type="number" step="1" />

                                        </div>
                                        <div class="form-group" ng-show="item.startDate && item.endDate">
                                            <label class="control-label">Check Date <span class="text-danger">*</span></label>
                                            <date-ctrl name="payday" required="true" model="item.payDay" min="minPayDate" />

                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6 m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label">History</label>
                                        <div class="col-md-8 col-sm-8">
                                            <label for="ishistory" class="switch">
                                                <input id="ishistory" type="checkbox" ng-model="item.isHistory" ng-disabled="company.fileUnderHost" /><i></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6 m-b-15" ng-show="company.contract.timesheets">
                                        <label class="col-md-4 col-sm-4 col-form-label">Load Timesheet</label>
                                        <div class="col-md-8 col-sm-8">
                                            <label for="fromtts" class="switch">
                                                <input id="fromtts" type="checkbox" ng-model="item.loadFromTimesheets" /><i></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="company.contract.certifiedPayrolls">
                                    <div class="form-group col-sm-6 m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label">Certified</label>
                                        <div class="col-md-8 col-sm-8">
                                            <label for="iscertified" class="switch">
                                                <input id="iscertified" type="checkbox" ng-model="item.isCertified" ng-disabled="company.companyProjects.length===0 || !item.loadFromTimesheets" /><i></i>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6" ng-show="item.isCertified">
                                        <label class="col-form-label" for="projectid">Project <span class="text-danger">*</span></label>
                                        <select id="project" class="form-control" ng-model="item.project" ng-options="e.projectName for e in company.companyProjects | orderBy:'projectId' track by e.id">
                                            <option value="">Select Project</option>
                                        </select>

                                    </div>

                                </div>
                                <div class="row" ng-show="item.loadFromTimesheets">
                                    <div class="form-group col-sm-6 m-b-15">
                                        <label class="col-md-4 col-sm-4 col-form-label">Approved</label>
                                        <div class="col-md-8 col-sm-8">
                                            <label for="approvedOnly" class="switch">
                                                <input id="approvedOnly" type="checkbox" ng-model="item.approvedOnly" /><i></i>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <span ng-show="company.contract.certifiedPayrolls && !item.loadFromTimesheets"><h6><i>* Certified Payrolls require data from timesheets</i></h6></span>
                                    <span ng-show="item.isCertified && !item.project"><h6><i>* Certified Payrolls require a govt project</i></h6></span>
                                </div>


                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-white  pull-right" ng-click="cancel()">close</button>
                                <button type="button" class="btn btn-success   pull-right" ng-click="go()" ng-disabled="!isPayrollValid()">Go</button>
                            </div>

                        </div>
                    </div>

                </script>
                <script type="text/ng-template" id="popover/timesheetentry.html">
                    <div class="panel overflow-hidden" ng-class="{'panel-success':entry.isPaid, 'panel-info':!entry.isPaid && entry.isApproved, 'panel-warning':(!entry.isPaid && !entry.isApproved)}">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{entry.entryDate | date:'MM/dd/yyyy'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form name="compform" data-parsley-validate="true">
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="projectid">Employee :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <h4>{{entry.name}}</h4>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="projectid">Project :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <select id="project" class="form-control" ng-model="selectedProject" ng-options="e.projectName for e in projects | orderBy:'projectId' track by e.id">
                                            <option value="">Select Project</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="hours">Hours * :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="number" id="hours" name="hours" placeholder="Hours" data-parsley-required="true" ng-model="entry.hours" />
                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="ot">Overtime *:</label>
                                    <div class="col-md-8 col-sm-8">
                                        <input class="form-control" type="number" id="ot" name="ot" data-parsley-required="true" placeholder="Overtime" ng-model="entry.overtime" />

                                    </div>
                                </div>
                                <div class="form-group row m-b-15">
                                    <label class="col-md-4 col-sm-4 col-form-label" for="desc">Description :</label>
                                    <div class="col-md-8 col-sm-8">
                                        <textarea class="form-control" id="desc" name="desc" rows="4" ng-model="entry.description" data-parsley-range="[0,200]" placeholder="Description between 0 - 200 characters"></textarea>
                                    </div>
                                </div>


                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-danger  pull-left" ng-show="!entry.isApproved && !entry.isPaid" ng-click="delete()">delete</button>
                                <button type="button" class="btn btn-white  pull-right" ng-click="cancel()">close</button>
                                <button type="button" class="btn btn-success   pull-right" ng-click="save()" ng-disabled="!isEntryValid() || entry.isApproved || entry.isPaid">save</button>
                            </div>

                        </div>
                    </div>

                </script>
                <script type="text/ng-template" id="popover/timesheetimport.html">

                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Import Timesheets for Employees setup
                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="row alert alert-danger" ng-show="alerts.length>0" ng-bind-html="alerts[0].message">

                            </div>
                            <div class="row" ng-show="showTable()">
                                <div class="col-sm-6 form-group">
                                    <label>Select File (csv or xlsx or txt (comma separated values) )</label><br />
                                    <label ng-show="files.length===1">File Name  = {{files[0].doc.file.name}}</label>
                                    <button ng-show="files.length===0" class="btn btn-lg btn-success  btn-lg btn-icon btn-circle attach-button pull-right" id="attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
                                        <i class="fa fa-upload"></i>
                                    </button>
                                    <button ng-show="files.length===1" class="btn btn-sm btn-primary  btn-lg " id="uploade" ng-click="uploadDocument()">
                                        upload
                                    </button>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label>First Row</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.startingRow" required data-parsley-pattern="/^[0-9]{1,5}?$/" data-parsley-min="1" />
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label>Last Row</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.lastRow" data-parsley-pattern="/^[0-9]{1,5}?$/" data-parsley-min="1" />
                                    <label ng-show="importMap.lastRow">Number of Checks: {{importMap.lastRow - importMap.startingRow + 1}}</label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label># of Columns</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.columnCount" required data-parsley-pattern="/^[0-9]{1,4}?$/" data-parsley-min="1" />
                                </div>
                            </div>

                            <div class="row" ng-show="showTable()">
                                <div class="col-sm-4">
                                    <table class="table table-header table-bordered table-condensed form-controls input-sm">
                                        <thead>
                                            <tr>
                                                <td class="col-sm-6">Field</td>
                                                <td class="col-sm-3">Position/Column #</td>
                                                <td>
                                                    <button class="btn  btn-lg btn-icon btn-circle btn-primary" ng-click="add()" ng-show="availableColumns(-1).length>0 && !selected"><i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="f in importMap.columnMap track by $index">

                                                <td>
                                                    <!-- editable tesltra worktype (select-local) -->
                                                    <span e-ng-change="f.key = $data;" editable-select="f.key" e-name="key" e-form="rowform" e-ng-options="field for field in availableColumns($index)">
                                                        {{ f.key }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span editable-number="f.value" e-name="fvalue" e-form="rowform" e-ng-change="f.value = $data" e-ng-pattern="/^[0-9]+?$/" e-step="1" e-style="width:10em;" e-ng-min="1" e-ng-max="importMap.columnCount">
                                                        {{ f.value }}
                                                    </span>
                                                </td>
                                                <td style="white-space: nowrap">
                                                    <!-- form -->
                                                    <form editable-form id="rowform" name="rowform" onbeforesave="saveSelected(f)" class="form-buttons form-inline" shown="selected===f">
                                                        <button type="button" ng-show="!rowform.$visible" class="btn btn-primary btn-lg btn-icon btn-circle" ng-click="rowform.$show();setSelected($index)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button type="button" ng-show="!rowform.$visible" class="btn btn-danger btn-lg btn-icon btn-circle" ng-click="delete($index)">
                                                            <i class="fa fa-remove"></i>
                                                        </button>
                                                        <button type="submit" ng-disabled="rowform.$waiting || !isItemValid(f)" ng-show="rowform.$visible" class="btn btn-success btn-lg btn-icon btn-circle">
                                                            <i class="fa fa-save"></i>
                                                        </button>
                                                        <button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancelSelected(f, $index)" class="btn btn-white btn-lg btn-icon btn-circle">
                                                            <i class="fa fa-undo"></i>
                                                        </button>
                                                    </form>
                                                </td>

                                            </tr>
                                            <tr ng-show="!selected">
                                                <td colspan="3">
                                                    <span ng-show="importMap.columnMap.length===0">No mappings found</span>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                            <div class="row" ng-show="timesheets.length>0">
                                <table ng-table="tableParams" class="table table-condensed table-responsive" show-filter="true" template-pagination="custom/nopager">
                                    <tr ng-repeat="listitem in tableData track by $index" class="mouse-over-pointer">

                                        <td data-title=" 'Employee' " filter="{ 'name': 'text' }" sortable=" 'name' " class="col-sm-1">
                                            {{listitem.name}}
                                        </td>
                                        <td data-title=" 'entryDate' " sortable=" 'entryDate' " class="col-sm-1">
                                            {{listitem.entryDateStr | date:'MM/dd/yyyy'}}
                                        </td>
                                        <td data-title=" 'Project' " filter="{ 'projectName': 'text' }" sortable=" 'projectName' " class="col-sm-1">
                                            {{listitem.projectName}}
                                        </td>
                                        <td data-title=" 'Hours' " sortable=" 'hours' " class="col-sm-1">
                                            {{listitem.hours | currency:''}}
                                        </td>
                                        <td data-title=" 'Overtime' " sortable=" 'overtime' " class="col-sm-1">
                                            {{listitem.overtime | currency:''}}
                                        </td>
                                        <td data-title=" 'Description' " sortable=" 'description' " class="col-sm-1">
                                            {{listitem.description}}
                                        </td>

                                    </tr>

                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12" ng-show="timesheets.length>0">
                                <button type="button" class="btn btn-white  pull-right" ng-click="cancel()">close</button>
                                <button type="button" class="btn btn-success   pull-right" ng-disabled="!ready()" ng-click="saveImportedTimesheets()">save</button>
                            </div>

                        </div>
                    </div>
                </script>
                <script type="text/ng-template" id="custom/nopager">

                </script>
                <script type="text/ng-template" id="popover/updatecomps1.html">
                    <div class="panel panel-success overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Compensations for {{paycheck.employee.name}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <form name="compform" data-parsley-validate="true">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="col-sm-5">Pay Type</th>
                                            <th class="col-sm-3">Wage</th>
                                            <th class="col-sm-3">Amount</th>
                                            <th class="col-sm-1"><button class="btn btn-success btn-icon btn-circle pull-right" ng-show="availablePayTypes().length>0" ng-click="addPayType()"><i class="fa fa-plus"></i></button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="paytype in paycheck.compensations track by $index">
                                            <td>{{paytype.payType.description}}</td>
                                            <td><span ng-show="paytype.payType.isAccumulable">{{calculateWage(paytype.payType)}}</span></td>
                                            <td>
                                                <input class="form-control"
                                                       ng-model="paytype.amount" required data-parsley-type="number" ng-disabled="paytype.payType.id===12" data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" convert-to-decimal />
                                            </td>
                                            <td>
                                                <button class="btn  btn-sm btn-circle btn-danger pull-right" ng-hide="paytype.payType.id===12" ng-click="remove($index)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="paytype in newPayTypes track by $index">
                                            <td>
                                                <select name="pt1{{$index}}" id="pt1{{$index}}" class="form-control" ng-change="updatePayTypeUsed(paytype)" ng-model="paytype.payType" ng-options="st.description for st in payTypeList(paytype) | orderBy:'id' track by st.id" required>
                                                    <option value="">Please select...</option>
                                                </select>
                                            </td>
                                            <td><span ng-show="paytype.payType.isAccumulable">{{calculateWage(paytype.payType)}}</span></td>
                                            <td>
                                                <input class="form-control"
                                                       data-parsley-type="number"
                                                       ng-model="paytype.amount" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" convert-to-decimal ng-disabled="paytype.payType.id===12" />
                                            </td>
                                            <td>
                                                <button class="btn  btn-sm btn-circle btn-danger pull-right" ng-show="!item.id && paytype.payType && paytype.payType.id!==12" ng-click="removeFromNew($index)"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12" ng-show="paycheck.compensations.length>0 || newPayTypes.length>0 || changesMade">
                                <button type="button" class="btn btn-white  pull-right" ng-click="cancel()">close</button>
                                <button type="button" class="btn btn-success   pull-right" ng-click="save()">save</button>
                            </div>

                        </div>
                    </div>

                </script>

                <script type="text/ng-template" id="popover/updatejobcost.html">

                    <div class="modal-header">
                        <h2 class="modal-title">Job Cost Matrix for {{paycheck.employee.name}}<i class="fa fa-plus-circle fa-lg"></i></h2>
                    </div>
                    <div class="modal-body">
                        <form name="jobcostform" data-parsley-validate="true">
                            <div class="row">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th>Rate</th>
                                            <th>T/Pieces</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat-start="pc in paycheck.payCodes track by $index">
                                        <td>
                                            <input type="text" class="form-control" ng-model="pc.payCode.description" />
                                        </td>
                                        <td>
                                            <input class="form-control"
                                                   ng-model="pc.amount" required data-parsley-pattern="/^[0-9]+(\.[0-9]{0,4})?$/" />
                                        </td>
                                        <td>
                                            <input class="form-control"
                                                   ng-model="pc.payCode.hourlyRate" data-parsley-type="number" required data-parsley-pattern="/^[0-9]+(\.[0-9]{0,4})?$/" />
                                        </td>
                                        <td>
                                            <input class="form-control"
                                                   ng-model="pc.screenHours" data-parsley-type="number" required data-parsley-pattern="/^[0-9]+(\.[0-9]{0,4})?$/" />
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-show="pc.overtimeHours>0 || pc.overtimeAmount>0">
                                        <td>
                                            {{pc.payCode.description}} (Overtime)
                                        </td>
                                        <td>
                                            <input class="form-control"
                                                   ng-model="pc.overtimeAmount" required data-parsley-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" />
                                        </td>
                                        <td>
                                            {{pc.payCode.hourlyRate * 0.5 | currency:''}}

                                        </td>
                                        <td>
                                            <input class="form-control"
                                                   ng-model="pc.screenOvertime" data-parsley-type="number" required data-parsley-pattern="/^[0-9]+(\.[0-9]{0,4})?$/" />
                                        </td>
                                    </tr>
                                </table>
                            </div>




                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-white   pull-right" ng-click="cancel()">close</button>
                            <button type="button" class="btn btn-success   pull-right" ng-click="save()">save</button>
                        </div>

                    </div>

                </script>
                <script type="text/ng-template" id="popover/updatededs.html">
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Deductions for {{paycheck.employee.name}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <employee-deduction-list list="dedList" pay-day="payDay" employee-id="paycheck.employee.id" company-deductions="deductionList" main-data="mainData" save-to-server="false" show-controls="true" agencies="agencies" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <button type="button" class="btn btn-white btn-sm pull-right" ng-click="cancel()">close</button>
                            <button type="button" class="btn btn-warning btn-sm pull-right" ng-disabled="!isValid()" ng-click="save()">only on this check</button>
                            <button type="button" class="btn btn-success btn-sm pull-right" ng-disabled="!isValid()" ng-click="permanentSave()">permanently save</button>
                            <button type="button" class="btn btn-danger btn-sm pull-right" ng-disabled="!isValid()" ng-click="empty()">pay no deductions on this check</button>
                        </div>

                    </div>


                </script>
                <script type="text/ng-template" id="popover/employee.html">
                    <employee employee="employee" main-data="mainData" is-popup="true" show-controls="true" />
                </script>
                <script type="text/ng-template" id="popover/importtimesheet.html">

                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                Import Payroll Setup
                            </h3>
                        </div>
                        <div class="panel-body">

                            <div class="row alert alert-danger" ng-show="alerts.length>0" ng-bind-html="alerts[0].message">

                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label>Select File (csv or xlsx or txt (comma separated values) )</label><br />
                                    <label ng-show="files.length===1">File Name  = {{files[0].doc.file.name}}</label>
                                    <button class="btn btn-lg btn-success  btn-lg btn-icon btn-circle attach-button pull-right" id="attachments" ng-file-select="onFileSelect($files)" data-multiple="false" title="select file" onclick="this.value = null" style="position: relative;">
                                        <i class="fa fa-upload"></i>
                                    </button>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label>First Row</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.startingRow" required data-parsley-pattern="/^[0-9]{1,5}?$/" data-parsley-min="1" />
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label>Last Row</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.lastRow" data-parsley-pattern="/^[0-9]{1,5}?$/" data-parsley-min="1" />
                                    <label ng-show="importMap.lastRow">Number of Checks: {{importMap.lastRow - importMap.startingRow + 1}}</label>
                                </div>
                                <div class="col-sm-2 form-group">
                                    <label># of Columns</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.columnCount" required data-parsley-pattern="/^[0-9]{1,4}?$/" data-parsley-min="1" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 form-group">
                                    <label></label>
                                    <div>
                                        <label for="jchas" class="switch">
                                            File has Job Cost Data?
                                            <input id="jchas" type="checkbox" ng-model="importMap.hasJobCost" ng-change="changeHasJobCost()" /><i></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3" ng-if="importMap.hasJobCost">
                                    <label>Starting Column</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.jobCostStartingColumn" ng-required="importMap.hasJobCost" data-parsley-pattern="/^[0-9]+?$/" data-parsley-min="1" />
                                </div>
                                <div class="col-sm-3" ng-if="importMap.hasJobCost && importMap.jobCostStartingColumn>0">
                                    <label># of Job Cost Columns</label>
                                    <input class="form-control"
                                           type="number"
                                           ng-model="importMap.jobCostColumnCount" ng-required="importMap.hasJobCost && importMap.jobCostStartingColumn>0" data-parsley-pattern="/^[0-9]?$/" data-parsley-min="3" data-parsley-max="4" ng-change="setJobCost()" />
                                </div>
                            </div>

                            <div class="row" ng-show="showTable()">
                                <div class="col-sm-4">
                                    <table class="table table-header table-bordered table-condensed form-controls input-sm">
                                        <thead>
                                            <tr>
                                                <td class="col-sm-6">Field</td>
                                                <td class="col-sm-3">Position/Column #</td>
                                                <td>
                                                    <button class="btn btn-icon btn-circle btn-primary" ng-click="add()" ng-show="availableColumns(-1).length>0 && !selected">><i class="fa fa-plus"></i></button>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="f in importMap.columnMap track by $index">

                                                <td>
                                                    <!-- editable tesltra worktype (select-local) -->
                                                    <span e-ng-change="f.key = $data;" editable-select="f.key" e-name="key" e-form="rowform" e-ng-options="field for field in availableColumns($index)">
                                                        {{ f.key }}
                                                    </span>
                                                </td>
                                                <td>
                                                    <span editable-number="f.value" e-name="fvalue" e-form="rowform" e-ng-change="f.value = $data" e-ng-pattern="/^[0-9]+?$/" e-step="1" e-style="width:10em;" e-ng-min="1" e-ng-max="importMap.columnCount">
                                                        {{ f.value }}
                                                    </span>
                                                </td>
                                                <td style="white-space: nowrap">
                                                    <!-- form -->
                                                    <form editable-form id="rowform" name="rowform" onbeforesave="saveSelected(f)" class="form-buttons form-inline" shown="selected===f">
                                                        <button type="button" ng-show="!rowform.$visible" class="btn btn-primary btn-icon btn-circle" ng-click="rowform.$show();setSelected($index)">
                                                            <i class="fa fa-pencil"></i>
                                                        </button>
                                                        <button type="button" ng-show="!rowform.$visible" class="btn btn-danger btn-icon btn-circle" ng-click="delete($index)">
                                                            <i class="fa fa-remove"></i>
                                                        </button>
                                                        <button type="submit" ng-disabled="rowform.$waiting || !isItemValid(f)" ng-show="rowform.$visible" class="btn btn-success btn-icon btn-circle">
                                                            <i class="fa fa-save"></i>
                                                        </button>
                                                        <button type="button" ng-disabled="rowform.$waiting" ng-show="rowform.$visible" ng-click="rowform.$cancel();cancelSelected(f, $index)" class="btn btn-white btn-icon btn-circle">
                                                            <i class="fa fa-undo"></i>
                                                        </button>
                                                    </form>
                                                </td>

                                            </tr>
                                            <tr ng-show="!selected">
                                                <td colspan="3">
                                                    <span ng-show="importMap.columnMap.length===0">No mappings found</span>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4" ng-if="importMap.selfManagedPayTypes.length>0">
                                    <div class="col-sm-12" ng-repeat="apt in importMap.selfManagedPayTypes track by $index">
                                        <div class="row alert alert-success">
                                            {{apt.payType.description}}
                                        </div>
                                        <table class="table table-header table-bordered table-condensed form-controls input-sm">
                                            <thead>
                                                <tr>
                                                    <td class="col-sm-6">Field</td>
                                                    <td class="col-sm-3">Position</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="f in apt.importMap track by $index">
                                                    <td>
                                                        {{ f.key }}
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="number" ng-model="f.value" required data-parsley-pattern="/^[0-9]?$/" />
                                                    </td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-sm-4" ng-if="importMap.hasJobCost && importMap.jobCostStartingColumn>0 && importMap.jobCostColumnCount>0">
                                    <table class="table table-header table-bordered table-condensed form-controls input-sm">
                                        <thead>
                                            <tr>
                                                <td colspan="2">Job Cost Setup</td>
                                            </tr>
                                            <tr>
                                                <td class="col-sm-6">Field</td>
                                                <td class="col-sm-3">Position</td>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="f in importMap.jobCostMap track by $index">
                                                <td>
                                                    {{ f.key }}
                                                </td>
                                                <td>
                                                    <input class="form-control" type="number" ng-model="f.value" required data-parsley-pattern="/^[0-9]?$/" />
                                                </td>
                                            </tr>


                                        </tbody>
                                    </table>
                                </div>


                            </div>


                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-white  pull-right" ng-click="cancel()">close</button>
                                <button type="button" class="btn btn-success   pull-right" ng-disabled="!ready()" ng-click="uploadDocument()">save</button>

                            </div>

                        </div>

                </script>
                <script type="text/ng-template" id="popover/user.html">
                    <div class="modal-header alert alert-inverse">
                        <h4 class="modal-title">User Details for {{selectedUser.firstName + ' ' + selectedUser.lastName}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <pre ng-show="!selectedUser.userId">New User</pre>
                                <form name="userform" class="form-horizontal" novalidate>
                                    <fieldset>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">User Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="username" placeholder="User Name" class="form-control" ng-model="selectedUser.subjectUserName" ng-maxlength="20" ng-required ng-pattern="/^[a-zA-Z0-9.]*$/" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">First Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="firstname" placeholder="First Name" class="form-control" ng-model="selectedUser.firstName" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Last Name</label>
                                            <div class="col-md-8">
                                                <input type="text" name="lastname" placeholder="Last Name" class="form-control" ng-model="selectedUser.lastName" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Email <i class="fa fa-envelope"></i></label>
                                            <div class="col-md-8">
                                                <input type="text" name="email" placeholder="Email" class="form-control" ng-model="selectedUser.email" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Phone <i class="fa fa-mobile"></i></label>
                                            <div class="col-md-8">
                                                <input type="text" name="phone1" class="form-control" ng-model="selectedUser.phone" ui-mask="(999) 999-9999" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Access Level <i class="fa fa-users"></i></label>
                                            <div class="col-md-8">
                                                <select id="roles" class="form-control" ng-change="roleChanged()" ng-model="selectedUser.role" ng-options="m.roleName for m in data.roles | filter:{show:true} track by m.roleId">
                                                    <option value="">Please select</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="selectedUser.host || selectedUser.role.roleId<51">
                                            <label class="col-md-4 control-label">Host</label>
                                            <div class="col-md-8">
                                                <select id="host" class="form-control" ng-change="hostSelected()" ng-model="data.selectedHost" ng-options="host1.name for host1 in data.hosts track by host1.id" ng-disabled="hostId"></select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="selectedUser.company || selectedUser.role.roleId<31">
                                            <label class="col-md-4 control-label">Company</label>
                                            <div class="col-md-8">
                                                <select id="company" class="form-control" ng-disabled="!data.selectedHost || companyId" ng-change="companySelected()" ng-model="data.selectedCompany" ng-options="c.name for c in data.filteredCompanies track by c.id"></select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="selectedUser.company && selectedUser.role.roleId<1">
                                            <label class="col-md-4 control-label">Employee</label>
                                            <div class="col-md-8">
                                                <select id="employee" class="form-control" ng-disabled="!data.selectedCompany || employeeId" ng-change="employeeSelected()" ng-model="data.selectedEmployee" ng-options="c.name for c in data.filteredEmployees track by c.id"></select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Active <i class="fa fa-question-circle"></i></label>
                                            <div class="col-sm-8">
                                                <label for="active" class="switch">
                                                    <input id="active" type="checkbox" ng-model="selectedUser.active" /><i></i>
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>


                                </form>
                            </div>
                            <div class="col-sm-8">
                                <div class="panel panel-inverse">
                                    <div class="panel-heading" ng-click="data.isBodyOpen=!data.isBodyOpen">
                                        <h4 class="panel-title">User Accesses (*click on tick/cross to toggle access)</h4>
                                    </div>

                                </div>
                                <div class="panel-body">
                                    <ul class="nav nav-tabs  nav-tabs-inverse nav-justified nav-justified-mobile" id="dashboardtabs">
                                        <li ng-repeat="fn in data.featureNames" ng-class="{'active':data.openedRack===fn.title}" ng-click="data.openedRack=fn.title"><a data-toggle="tab"> <span class="hidden-xs">{{fn.title}}</span></a></li>
                                    </ul>
                                    <table class="table table-bordered table-condensed" ng-show="selectedUser.role">
                                        <thead>
                                            <tr>
                                                <th>Feature</th>
                                                <th>Access</th>
                                                <th><button class="btn btn-xs btn-primary" ng-click="includeAll()">include all</button></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="access in data.userAccessList" ng-show="access.featureName===data.openedRack">
                                            <td>{{access.featureName}}</td>
                                            <td>{{access.claimName}}</td>
                                            <td>
                                                <i class="fa fa-lg" ng-disabled="selectedUser.role.roleId<access.accessLevel" ng-click="access.hasAccess=!access.hasAccess" ng-class="{'fa-check': selectedUser.role.roleId>=access.accessLevel && access.hasAccess, 'fa-remove': selectedUser.role.roleId>=access.accessLevel && !access.hasAccess, 'fa-ban':access.accessLevel>selectedUser.role.roleId}" ng-style="(access.hasAccess && selectedUser.role.roleId>=access.accessLevel && {'color':'green'}) || (!access.hasAccess && selectedUser.role.roleId>=access.accessLevel && {'color': 'red'}) || (selectedUser.role.roleId<access.accessLevel && {'color': 'orange'})"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>

                        </div>


                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-sm btn-warning pull-right" ng-click="resetPasswordDefault()" ng-show="mainData.userRole==='SuperUser'">Default Password</button>
                        <button type="button" class="btn btn-sm btn-danger pull-right" ng-click="resetPassword()" ng-show="showResetPassword && selectedUser.userId">Reset Password</button>
                        <a class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="!validateUser()">Save</a>
                        <a href="javascript:;" class="btn btn-sm btn-white" ng-click="cancel()">Close</a>

                    </div>

                </script>
                <script type="text/ng-template" id="popover/ssnlist.html">

                    <div class="modal-header alert alert-info">
                        <h2 class="modal-title">SSN Details</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table class="table table-bordered table-condensed" ng-show="list.length>0">
                                <thead>
                                    <tr>
                                        <th>Host</th>
                                        <th>Company</th>
                                        <th>Name</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ctx in list track by $index">
                                        <td>
                                            {{ctx.host}}
                                        </td>
                                        <td>
                                            {{ctx.company}}
                                        </td>
                                        <td>
                                            {{ctx.name}}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                            <span ng-show="list.length===0">No results found</span>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <a href="javascript:;" class="btn btn-sm btn-white" ng-click="cancel()">Close</a>

                    </div>

                </script>
                @if (User.Identity.IsAuthenticated)
                {


                    <div class="form-group hidden-print row" ng-show="data.showFilterPanel" ng-if="data.isReady">

                        <div class="col-sm-3 pull-right">
                            <input type="text" class="form-control" placeholder="Type Company Name" ng-show="data.showCompanies" ng-disabled="data.hostCompanies.length===0" ng-model="data.selectedCompany1" ng-mouseenter="data.selectedCompany1=null;$viewValue=null" ng-mouseleave="data.selectedCompany1=null;$viewValue=null" typeahead-show-hint="true" typeahead-on-select="companySelected()" uib-typeahead="company as company.name for company in data.hostCompanies | filter:{name:$viewValue}">
                        </div>
                        <div class="col-sm-3 pull-right">
                            <select id="host" class="form-control" ng-change="hostSelected()" ng-disabled="data.hosts.length===1" ng-model="data.selectedHost" ng-options="host1.firmName for host1 in data.hosts | orderBy:'firmName' track by host1.id">
                                <option value="">Select Host</option>
                            </select>
                        </div>
                        @*<a href="#!/" ng-if="data.selectedHost && data.selectedHost.homePage.logo" style="background-color:transparent" class="pull-right">
                    <img ng-src="{{getDocumentUrl(logo)}}" err-src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="width:150px;height:40px" />
                </a>*@
                        <div class="col-sm-4 pull-left" ng-show="data.selectedCompany && data.selectedCompany.id"><h5 class="pull-right"><em>You are viewing company: {{data.selectedCompany.name}} <span class="show-red" ng-show="data.selectedCompany.isLocation">(is a location)</span></em></h5></div>


                    </div>
                    @*<div class="col-sm-12 visible-print" ng-show="data.selectedCompany && data.selectedCompany.id && data.showCompanies"><h5><em><u>{{data.selectedCompany.name}}</u></em></h5></div>*@
                    <div ng-view></div>




                }




            </div>

            <!-- end #sidebar -->
            <!-- begin #content -->



        </div>
    }

    else
    {
        var isPublic = Convert.ToBoolean(System.Configuration.ConfigurationManager.AppSettings["isPublic"].ToString());
        if (!isPublic)
        {
            @Html.Partial("ComingSoon")
        }

        else
        {
            <div id="page-container" ng-controller="mainCtrl" class="fade page-without-sidebar page-header-fixed" ng-app="common" data-host="@CurrentUser.Host" data-company="@CurrentUser.Company" data-employee="@CurrentUser.Employee" data-role="@CurrentUser.Role" data-name="@CurrentUser.FullName" data-claims="@CurrentUser.GetClaimsSerialized()">
                @Html.Partial("_TopNavbar")
                <div class="embed-responsive" style="padding-bottom: 47%">
                    <iframe class="embed-responsive-item" src="https://ipaxol.com/" allowfullscreen></iframe>
                </div>
                @*@Html.Partial("Welcome")*@
                <div class="modal fade" id="modal-dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

                            </div>
                            <div class="modal-body">

                                @Html.Partial("_LogiPartialModal")

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }

    }



    @RenderBody()

    <!-- /#page-wrapper -->
    <!-- ========================= SCRIPTS ================================ -->
    @Scripts.Render("~/bundles/slimScroll")

    @RenderSection("scripts", false)
    <script>
        $(document).ready(function () {
            App.init();
            //angular.bootstrap(document.getElementById('loginpartialmodal'), ['common']);
            //var min = $('a[data-click=sidebar-minify]:first');
            //min.click();

        });
    </script>


</body>
	</html>
