@using HrMaxxWeb.Models
@model LoginViewModel
@{
	ViewBag.Title = "Log in";
}

<div class="login-cover">
	<div class="login-cover-image"><img src="~/Content/images/bg-8.jpg" data-id="login-cover-image" alt="" /></div>
	<div class="login-cover-bg"></div>
</div>

<div class="login login-v2" data-pageload-addclass="animated fadeIn" id="loginpartialmodal" ng-controller="loginCtrl">
	<div class="alert" ng-repeat="alert in alerts" ng-class="alert.type" close="closeAlert($index)">{{alert.msg}}</div>
	
	<div class="login-content">
		@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "loginFormSubmit", name = "loginFormSubmit" }))
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(true, "", new { @class = "text-danger" })
			<div class="form-group m-b-20">


				@Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", data_ng_model = "username", placeholder = "User Name" })
				@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

			</div>
			<div class="form-group m-b-20">

				@Html.PasswordFor(m => m.Password, new { @class = "form-control", data_ng_model = "password", placeholder = "Password" })
				@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

			</div>
			<div class="form-group m-b-20">

				@Html.CheckBoxFor(m => m.RememberMe, new { data_ng_model = "rememberMe" })
				@Html.LabelFor(m => m.RememberMe)

			</div>
			<div class="login-buttons">

				<button type="button" data-loading-text="Please wait..." class="btn btn-success btn-block btn-lg" ng-click="login($event, '@ViewBag.ReturnUrl')">Login</button>

			</div>
			<div class="m-t-20">
				@Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
			</div>

		}

	</div>
</div>

