@using System.Web.Optimization
@using System.Security.Policy
@using HrMaxx.Common.Models.Enum
@using HrMaxxWeb.Code.Helpers
@using Microsoft.AspNet.Identity
@using StackExchange.Profiling
@using System.Net.Http
@using HrMaxx.Infrastructure.Enums
@using HrMaxx.Infrastructure.Helpers
@using HrMaxx.Infrastructure.Security

<div id="sidebar" class="sidebar">
	<!-- begin sidebar scrollbar -->
	<div data-scrollbar="true" data-height="100%">
		<!-- begin sidebar user -->
		<ul class="nav">
			<li class="nav-profile">
				<div class="image">
					<img src="@CurrentUser.Photo" alt=""/>
				</div>
				<div class="info">
					@CurrentUser.FullName
					
				</div>
			</li>
		</ul>
		<!-- end sidebar user -->
		<!-- begin sidebar nav -->
		<ul class="nav">
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			@if (CurrentUser.IsInRole(RoleTypeEnum.Master.GetDbName()) || CurrentUser.IsInRole(RoleTypeEnum.Admin.GetDbName()))
			{
				<li class="has-sub">
					<a href="javascript:;">
						<b class="caret pull-right"></b>
						<i class="fa fa-key"></i>
						<span>Administration</span>
					</a>
					<ul class="sub-menu">
						<li><a href="@Url.Action("Index", "Host", new {area = "Administration"})">Manage Host</a></li>
						<li><a href="@Url.Action("Index", "News", new {area = "Administration"})">News & Announcements</a></li>
						<li><a href="@Url.Action("Users", "Host", new {area = "Administration"})">Users</a></li>
						
					</ul>
				</li>
			}
			@if (CurrentUser.IsInRole(RoleTypeEnum.Host.GetDbName()))
			{
				<li><a href="@Url.Action("Profile", "Host", new {area = "Administration"})"><i class="fa fa-home"></i><span>Host Profile</span></a></li>
				
			}

			<!-- begin sidebar minify button -->
			<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
			<!-- end sidebar minify button -->
		</ul>
		<!-- end sidebar nav -->
	</div>
	<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>